@import '../../styles/breakpoints.scss';

///////////////////////////////////
// variables
///////////////////////////////////

[data-component="chapters"] {
  --animation-viewport: 100vh;
  --rail-margin: 0;
  --rail-minimum-height: 100vh;
  --shrunk-image-height: 255px;
  --timeline-height: 800vh;
  --timeline-positioning: 0;
  --transition-padding: 45px;
  --wrapper-height: 600vh;
  --show-rail: flex;
}

[data-type="simple"] {
  --show-rail: none;
  --timeline-positioning: initial;
}

[data-type="static-simple"] {
  --show-rail: none;
}

.ch-desktop {
  --timeline-positioning: -100vh;
  --rail-margin: -100vh;
  display: none;
}

.ch-mobile {
  --timeline-positioning: 0;
  --rail-margin: 0;
  display: block;
}

///////////////////////////////////
// simple, enhanced and plus layout
///////////////////////////////////

.ch-wrap {
  background: beige;
  position: relative;
  width: 100%;
}

.ch-stage {
  align-items: center;
  display: flex;
  height: var(--animation-viewport);
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.ch-anim {
  background: blue;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  width: initial;
  height: 100%;
  will-change: width;
}

.ch-timeline {
  // background: pink;
  height: var(--timeline-height);
  position: relative;
  top: var(--timeline-positioning);
  width: 100%;
}

.ch-rail {
  bottom: 0;
  box-sizing: border-box;
  margin-top: var(--rail-margin);
  position: relative;
  width: 100%;
  opacity: 0;
}

.ch-items {
  // background: lightseagreen;
  padding-left: var(--transition-padding);
  box-sizing: border-box;
  padding-top: var(--transition-padding);
  width: 50%;
}

.ch-typewriter {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

.ch-plus-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: lightsalmon;
  top: 0;
}

.ch-line {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.ch-cursor {
  height: 15px;
  width: 15px;
  background: black;
}

@include BreakPoint(md) {
  .ch-mobile {
    display: none;
  }

  .ch-desktop {
    display: block;
  }

  .ch-rail {
    opacity: 1;
  }

  .ch-items {
    min-height: var(--rail-minimum-height);
  }
}

///////////////////////////////////
// static and aem layout
///////////////////////////////////

.ch-static {
  align-items: center;
  background: beige;
  display: flex;
  height: 100vh;
  position: relative;
}

.ch-static-rail {
  display: var(--show-rail);
}

.ch-static-left {
  background: lightcoral;
  width: 100%;
}

.ch-static-right {
  display: none;
  background: lavender;
  padding: var(--transition-padding);
  height: 50vh;
  position: sticky;
  width: 50%;
  top: var(--transition-padding);
  margin: var(--transition-padding);
}

@include BreakPoint(md) {
  .ch-static-left {
    width: 50%;
    min-height: 100vh;
  }

  .ch-static-right {
    display: block;
  }
}

///////////////////////////////////
// themes
///////////////////////////////////

[data-component="chapters"].bg-tan {

}