@import '../../styles/breakpoints.scss';

/////////////////////////////
// variables
/////////////////////////////

[data-component="chapters"] {
  --animation-viewport: 100vh;
  --rail-margin: 0;
  --rail-minimum-height: 100vh;
  --shrunk-image-height: 255px;
  --timeline-height: 500vh;
  --timeline-positioning: 0;
  --transition-padding: 50px;
  --wrapper-height: 600vh;
}

.ch-desktop {
  --timeline-positioning: -100vh;
  --rail-margin: -100vh;
  display: none;
}

.ch-mobile {
  --timeline-positioning: 0;
  --rail-margin: 0;
  display: block;
}

/////////////////////////////
// themes
/////////////////////////////

[data-component="chapters"].bg-tan {

}


/////////////////////////////
// enhanced and plus layout
/////////////////////////////

.ch-wrap {
  background: beige;
  position: relative;
  width: 100%;
}

.ch-stage {
  align-items: center;
  background: lightgrey;
  display: flex;
  height: var(--animation-viewport);
  justify-content: center;
  opacity: 0.5;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.ch-anim {
  background: blue;
  bottom: var(--transition-padding);
  position: absolute;
  right: var(--transition-padding);
  top: var(--transition-padding);
  width: 40%;
}

.ch-timeline {
  background: pink;
  height: var(--timeline-height);
  position: relative;
  top: var(--timeline-positioning);
  width: 100%;
}

.ch-rail {
  bottom: 0;
  box-sizing: border-box;
  margin-top: var(--rail-margin);
  padding-left: 50px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.ch-items {
  background: lightseagreen;
  box-sizing: border-box;
  padding-top: var(--transition-padding);
  width: 50%;
}

@include BreakPoint(md) {
  .ch-mobile {
    display: none;
  }

  .ch-desktop {
    display: block;
  }

  .ch-items {
    min-height: var(--rail-minimum-height);
  }
}

/////////////////////////////
// static layout
/////////////////////////////