@import '../../styles/breakpoints.scss';

.chap {
  --wrapper-height: 605vh;
  --timeline-height: 500vh;
  --timeline-positioning: 0;
  --animation-viewport: 100vh;
  --rail-margin: 0;
  --rail-minimum-height: 100vh;
  --transition-padding: 50px;
  --shrunk-image-height: 255px;
}

.desktop {
  display: none;
  --timeline-positioning: -100vh;
  --rail-margin: -100vh;
}

.mobile {
  display: block;
  --timeline-positioning: 0;
  --rail-margin: 0;
}

.wrapper {
  background: beige;
  min-height: var(--wrapper-height);
  position: relative;
  width: 100%;
}

.container-stage {
  align-items: center;
  background: lightgrey;
  display: flex;
  height: var(--animation-viewport);
  justify-content: center;
  opacity: 0.5;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container-animation {
  background: blue;
  bottom: var(--transition-padding);
  position: absolute;
  right: var(--transition-padding);
  top: var(--transition-padding);
  width: 40%;
}

.container-timeline {
  background: pink;
  height: var(--timeline-height);
  position: relative;
  top: var(--timeline-positioning);
  width: 100%;
}

.container-list {
  bottom: 0;
  box-sizing: border-box;
  margin-top: var(--rail-margin);
  padding-left: 2rem;
  position: relative;
  width: 100%;
  z-index: 2;
}

.list {
  background: lightseagreen;
  min-height: var(--rail-minimum-height);
  padding-top: var(--transition-padding);
  width: 50%;
}

@include BreakPoint(md) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}