@import '../../styles/breakpoints.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.chapters-text {
  font-size: 13vw;
  font-weight: 400;
  color: #FFCC01;
  text-transform: uppercase;
}

.box {
  background: lightgrey;
  height: 100vh;
  width: 100%;
}

.chapters-text-container {
  align-items: center;
  display: flex;
  height: 11vw;
  margin-bottom: 20px;
}

.chapters-cursor {
  aspect-ratio: 1;
  background: #FFCC01;
  display: inline-block;
  height: 100%;
  margin-left: 2px;
}

.chapters-animation-container {
  height: 1200vh;
  position: relative;
  width: 100%;
}

.chapters-animation-inner {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
}

.chapters-animation {
  background: #FFCC01;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

.chapters-image {
  align-items: flex-start;
  background-image: url('/img/army.webp');
  background-size: cover;
  background-position: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-left: 18px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.chapters-animation-text {
  align-items: center;
  box-sizing: border-box;
  left: 0;
  min-height: 100%;
  padding: 40px 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.chapters-item {
  background: beige;
  height: 500px;
}

@include isSafari {
  .chapters-animation-container {
    height: 1200lvh;
  }

  .chapters-animation {
    height: 100lvh;
  }

  .chapters-image {
    height: 100lvh;
  }
}

@include BreakPoint(lg) {
  .chapters-text {
    font-size: 12vw;
  }

  .chapters-text-container {
    height: 10.5vw;
    margin-bottom: 20px;
  }

  .chapters-image {
    padding-left: 45px;
  }

  .chapters-animation-inner {
    position: relative;
    height: 100%;
  }

  .chapters-image {
    position: absolute;
    height: initial;
    background-position: initial;
  }

  .chapters-animation-text {
    position: absolute;
    width: 50%;
  }
}

@media screen and (min-width: 1599px) {
  .chapters-text {
    font-size: 9vw;
  }

  .chapters-text-container {
    height: 7.5vw;
    margin-bottom: 20px;
  }

  .chapters-image {
    padding-left: 90px;
  }
}