@import '../../styles/breakpoints.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.chapters-text {
  font-size: 45px;
  font-weight: 400;
  color: #FFCC01;
  text-transform: uppercase;
}

.box {
  width: 100%;
  height: 100vh;
  background: lightgrey;
}

.chapters-text-container {
  align-items: center;
  display: flex;
  height: 32px;
  margin-bottom: 20px;
}

.chapters-cursor {
  height: 100%;
  aspect-ratio: 1;
  background: #FFCC01;
  display: inline-block;
  margin-left: 2px;
}

.chapters-animation-container {
  height: 1200vh;
  width: 100%;
  position: relative;
}

.chapters-animation {
  height: 100vh;
  width: 100%;
  background: #FFCC01;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.climb-image {
  align-items: flex-start;
  background-image: url('/img/army.webp');
  background-size: cover;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 2rem;
  z-index: 2;
}

.chapters-animation-text {
  height: 200vh;
  width: 50%;
  position: absolute;
  left: 0;
  z-index: 1;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  box-sizing: border-box;
}

@include BreakPoint(lg) {
  h1 {
    font-size: 84px;
  }
}