@import '../../styles/breakpoints.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.chapters-text {
  font-size: 13vw;
  font-weight: 400;
  color: #FFCC01;
  text-transform: uppercase;
}

.bg-green .chapters-text {
  color: #FFCC01;
}

.bg-tan .chapters-text {
  color: #000;
}

.bg-field-02 .chapters-text {
  color: #000;
}

.box {
  background: lightgrey;
  height: 100vh;
  width: 100%;
}

.chapters-text-container {
  align-items: center;
  display: flex;
  height: 11vw;
  margin-bottom: 20px;
}

.chapters-cursor {
  aspect-ratio: 1;
  display: inline-block;
  height: 100%;
  margin-left: 2px;
  background: #FFCC01;
}

.bg-green .chapters-cursor {
    background: #FFCC01;
}

.bg-tan .chapters-cursor {
    background: #000;
}

.bg-field-02 .chapters-cursor {
    background: #000;
}

.chapters-animation-container {
  height: 1200vh;
  position: relative;
  width: 100%;
}

.bg-tan .chapters-animation-container,
.bg-field-02 .chapters-animation-container,
.bg-green .chapters-animation-container {
  height: 800vh;
}

.chapters-animation-inner {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
}

.chapters-image-overlay {
  background: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-green .chapters-image-overlay {
  background: #2F372F;
}

.bg-tan .chapters-image-overlay {
  background: #F1E4C7;
}

.bg-field-02 .chapters-image-overlay {
  background: #BFB8A6;
}

.chapters-caption-container {
  position: relative;
  z-index: 1;
}

.chapters-animation {
  background: #FFCC01;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

.bg-green .chapters-animation {
  background: #2F372F;
}

.bg-tan .chapters-animation {
  background: #F1E4C7;
}

.bg-field-02 .chapters-animation {
  background: #BFB8A6;
}

.chapters-image {
  align-items: flex-start;
  background-image: url('/img/army.webp');
  background-size: cover;
  // background-position: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-left: 18px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.chapters-animation-text {
  align-items: center;
  box-sizing: border-box;
  color:#000;
  left: 0;
  min-height: 100%;
  position: relative;
  width: 100%;
  padding-top: 27px;
  z-index: 1;
}

.bg-green .chapters-animation-text {
  color:#F1E4C7;
}

.bg-tan .chapters-animation-text {
  color:#000;
}

.bg-field-02 .chapters-animation-text {
  color:#000;
}

.chapters-animation-text path {
  fill:#000;
}

.bg-green .chapters-animation-text path {
  fill:#F1E4C7;
}

.bg-tan .chapters-animation-text path {
  fill:#000;
}

.bg-field-02 .chapters-animation-text path {
  fill:#000;
}

.chapters-header {
  border-bottom: 1px solid #000;
}

.bg-green .chapters-header {
  border-bottom: 1px solid #F1E4C7;
}

.bg-tan .chapters-header {
  border-bottom: 1px solid #000;
}

.bg-field-02 .chapters-header {
  border-bottom: 1px solid #000;
}

.chapters-item {
  padding: 45px 0;
}

.chapters-header-title {
  font-size: 36px;
  padding-bottom: 27px;
}

.chapters-summary {
  font-size: 21px;
  padding-bottom: 36px;
}

.chapters-item-icon {
  height: 40px;
  width: 40px;
}

.chapters-item-title {
  padding-top: 18px;
  font-size: 27px;
}

.chapters-item-copy {
  padding-top: 18px;
}

.chapters-item-cta {
  padding-top: 45px;
}

.chapters-sticky-container {
  box-sizing: border-box;
  display: none;
  flex-direction: column-reverse;
  padding: 18px;
  position: relative;
  width: 100%;
}

.chapters-sticky-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}

.chapters-sticky-left {
  // background: tan;
  height: 100%;
}

.chapters-sticky-right {
  // background: salmon;
  padding-bottom: 27px;
}

.bg-tan .chapters-sticky-container {
  background: #F1E4C7;
  display: flex;
}

.bg-field-02 .chapters-sticky-container {
  background: #BFB8A6;
  display: flex;
}

.bg-green .chapters-sticky-container {
  background: #2F372F;
  display: flex;
}

@include isSafari {
  .chapters-animation-container {
    height: 1200lvh;
  }

  .chapters-animation {
    height: 100lvh;
  }

  .chapters-image {
    height: 100lvh;
  }
}

@include BreakPoint(lg) {
  .chapters-text {
    font-size: 12vw;
  }

  .chapters-text-container {
    height: 10.5vw;
    margin-bottom: 20px;
  }

  .chapters-header-title {
    font-size: 36px;
    padding-bottom: 36px;
  }

  .chapters-image {
    padding-left: 45px;
  }

  .chapters-animation-inner {
    position: relative;
    height: 100%;
  }

  .chapters-image {
    position: absolute;
    height: initial;
    background-position: initial;
  }

  .chapters-animation-text {
    position: absolute;
    width: 50%;
    padding: 45px;
  }

  .chapters-sticky-container {
    flex-direction: row;
    padding: 0 45px;
    width: 100%;
  }

  .chapters-sticky-image {
    aspect-ratio: initial;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4 / 3;
    position: sticky;
    top: 0;
    padding-top: 45px;
  }

  .chapters-sticky-left {
    box-sizing: border-box;
    height: 100%;
    flex: 1;
    padding: 45px 0;
    padding-right: 22.5px;
  }

  .chapters-sticky-right {
    padding-bottom: 45px;
    padding-left: 22.5px;
    box-sizing: border-box;
    flex: 1;
  }
}

@media screen and (min-width: 1599px) {
  .chapters-text {
    font-size: 8vw;
  }

  .chapters-text-container {
    height: 6.5vw;
    margin-bottom: 20px;
  }

  .chapters-image {
    padding-left: 90px;
  }
}